body {
  margin: 0;
  justify-content:center;
  height: 100vh;
  display: flex;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 40px;
}

.card {
  background: red;
  padding: 30px 60px;
  width: 320px;
  text-align: center;
  border-radius: 12px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #0c0202;
}
h3{
  color:green;

}
button {
  width: 100%;
  padding: 10px;
  background: #2575fc;
  color: rgb(155, 74, 74);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
